
.card-article{
  margin: 50px auto 10px auto;
  background-color: #d0e0df;
  width: 40rem;
  height: 20rem;
  border: 1px solid orange;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 61% 75%, 0% 75%);
}

.title-text, .description-text{
  margin-left: 25%;
  margin-right: 3rem;
}

.delete-button{
  text-align: left;
  font-weight: bold;
  font-size: 2rem;
}

.delete-button:hover{
  cursor: pointer;
}

.info-section{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.title-text{
  grid-row: 1;
  grid-column: 1;
  justify-self: end;
}

.description-text{
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
}

.title-value{
  grid-row: 1;
  grid-column: 2;
  justify-self: start;
}

.description-value{
  grid-row: 2;
  grid-column: 2;
  justify-self: start;
}
