.add-card-info{
  background-color: blue;
  width: 97%;
  margin: 0 auto;
}

.header-title{

}

.idea-title, .idea-description{
  display: flex;
  justify-content: space-around;
  width: 20rem;
  margin: 0 auto;
}

.idea-title{
  padding-top: 5rem;
}

.card-entry-div{
  background-color: yellow;
  width: 50%;
  margin: 0 auto;
}
