body{
  margin: 0;
}

.header-title{
  margin-top: 0;
  padding-top: 20px;
  font-size: 5rem;
  color: white;
}

.add-card-info{
  background-color: #608b9e;
  height: 20rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 0;
}

.card-entry-div{
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: #608b9e;
  margin: 0 auto;
}


.title-input{
  grid-column: 2;
  grid-row: 1;
}

.description-input{
  grid-column: 2;
  grid-row: 2;
}

.card-button{
  height: 50px;
  width: 30rem;
  margin-top: 10px;
  background-color: orange;
}
